<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<div class="banner">
  <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
  <!-- Add the video element here using the HTML <video> tag -->
  <video width="100%" height="auto" autoplay muted loop style="object-fit: cover;">
    <source src="<%= asset_path("healthcare.mp4") %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Position the text absolutely within the container -->
  <div style="position: absolute; top: 60%; left: 60%; transform: translate(-60%, -60%); text-align: center; color: white;">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-gradient" href="#">Book now</a>
  </div>
</div>



<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),  rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Home Nursing Services
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),  rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
 Physical Therapy at Home:
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),   rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
  Diagnostics at Home
  </div>
</div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
